* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.cont {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
}

.cont1 {
    gap: 20px;
}

.cont2 {
    gap: 27px;
}

/* #################### nav #################### */

/* NAV */
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.s_bx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00b26a;
    width: 100%;
    padding: 20px 128px;
}

.nav_items1 {
    display: flex;
    padding: 15px 0 0 0;
}

.navigation_bar a {
    font-size: 28px;
    color: white;
}

.nav_items1 li a {
    font-size: 18px;
    color: white;
    padding: 9px 18px;
    border-radius: 12px;
}

.nav_items1 li a:hover {
    background-color: white;
    color: #00b26a;
}

#nav_bx1 {
    padding: 28px 128px;
    display: none;
}

#nav_bx1 a,
#nav_bx1 i {
    font-size: 28px;
    color: white;
}

#nav_items {
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top: -60%;
    z-index: -1;
    transition: all 1s;
}

#nav_items li a {
    font-size: 20px;
    color: white;
    padding: 10px 25px;
    border-radius: 16px;
}

#nav_items li a:hover {
    background-color: white;
    color: #00b26a;
}

#nav_bx1 i {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu_bar_close {
    display: none;
}

.fa-solid.fa-user {
    padding-right: 7px;
}

abbr {
    text-decoration: none !important;
    cursor: not-allowed !important;
    opacity: 0.6;
}

/* ########## Section-One ########## */

#sec_one {
    padding: 50px 0;
    background-color: #f2fafc;
}

.content_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_one_p1 h1 {
    font-size: 45px;
}

.content_one_p1 p {
    padding: 10px 0;
    font-size: 20px;
}

.btn1 {
    background-color: #00af63;
    border: 1px solid #00af63;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.btn1:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.btn2 {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
}

.btn2:hover {
    background-color: #00af63;
    border: 1px solid #00af63;
    color: white;
}

/* ########## Section-Two ########## */

.content_two {
    padding: 5% 0;
}

.hd1 {
    text-align: center;
    padding: 0 14%;
    margin-bottom: 25px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bx {
    width: 250px;
    height: 8rem;
    border: 1px solid #9b9fa5;
    margin: 6px 11px;
    padding: 9px 13px;
    border-radius: 13px;
    display: flex;
}

.bx:hover {
    background-color: #00af63;
    color: white;
}

.bx h1 {
    font-size: 20px;
}

.bx p {
    color: #9b9fa5;
    margin: 0;
    text-align: initial;
}

.num_bx {
    width: 14%;
    height: 29px;
    text-align: center;
    margin-right: 16px;
    background-color: #9b9fa55e;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    padding-top: 4px;
}

.content_two button {
    background: transparent;
    border: 1px solid black;
    font-weight: 500;
    border-radius: 10px;
    margin: 25px auto 0 auto;
    padding: 10px 20px;
    display: flex;
}

.content_two button:hover {
    background-color: #00af63;
    color: white;
    border: 1px solid white;
}


/* ########## Section-Three ########## */

.sec_three {
    background-color: #102542;
}

.content_three {
    padding: 6% 0px;
}

.hd2 {
    text-align: center;
    color: white;
    padding: 0px 24%;
    font-size: 48px;
}

.bx1 {
    border: 1px solid white;
    padding: 2% 0%;
    margin: 30px 0px;
    text-align: center;
}

.bx1 h2 {
    color: white;
    font-size: 3rem;
}

audio {
    margin: 7px 0px;
    width: 59%;
}

.content_three button {
    margin-top: 25px;
    background: transparent;
    border: 1px solid white;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    padding: 20px 50px;
    display: flex;
    margin: 0 auto;
}

.content_three button:hover {
    background: white;
    color: #102542;
    border: 1px solid #102542;
}

/* ########## Footer ########## */

#footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #102542;
    color: white;
    padding: 30px 0px;
    width: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer_items ul {
    margin-left: -30px;
}

.footer_items ul li a {
    color: white;
}

.footer_items ul li a:hover {
    color: #00af63;
}

.footer_items ul li {
    line-height: 2;
    font-size: 20px;
}

ul.icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.footer_items p {
    padding: 15px 0 0 0;
}

marquee {
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    margin: 0;
    padding: 18px 0;
    font-size: 25px;
}

/* #################### Media Query #################### */

@media only screen and (max-width: 1200px) {

    .s_bx {
        padding: 20px 72px;
    }

    .nav_items1 li a {
        padding: 9px 14px;
    }
}

@media only screen and (max-width: 1000px) {
    #nav_bx {
        display: none;
    }

    #nav_bx1 {
        display: flex;
        padding: 28px 85px;
    }

    .content_one_p1 h1 {
        font-size: 35px;
    }

    .content_one_p1 p {
        font-size: 17px;
    }

    .content_one_img {
        width: 30rem;
    }

    .content_one_img img {
        width: 100%;
    }

    .hd2 {
        padding: 0px;
    }
}

@media only screen and (max-width: 700px) {
    #nav_bx1 {
        padding: 28px 65px;
    }

    .content_one_img {
        display: none;
    }

    .hd1 {
        padding: 0;
    }

    audio {
        width: 85%;
    }

    .hd2 {
        font-size: 35px;
    }

    .footer_content {
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 450px) {
    #nav_bx1 {
        padding: 32px 30px;
    }

    #nav_bx1 a,
    #nav_bx1 i {
        font-size: 22px;
        color: white;
    }

    #nav_items {
        top: -80%;
    }

    .content_one_p1 h1 {
        font-size: 34px;
    }

    .hd2 {
        font-size: 28px;
    }
}


/* audio */

.sec_three {
    font-family: cursive;
}

.audios1_down,
.audios2_down,
.audios3_down,
.audios4_down {
    color: white;
    cursor: pointer;
}


.audios1,
.audios2,
.audios3,
.audios4 {
    display: none;
}

.bx1 i {
    padding-left: 35px;
}

#down_arrow1_up,
#down_arrow2_up,
#down_arrow3_up,
#down_arrow4_up {
    display: none;
}

.selector_recitor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#surah_recitor {
    padding: 10px 15px;
    width: 200px;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    background-color: #032642;
    border-radius: 11px;
    outline: none;
}

#btn_recitor {
    padding: 12px 20px;
    outline: none;
    margin: 0 !important;
}

#surah_recitor option {
    background: white;
    color: #032642;
}

/* Spinner */

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: white;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* details */

.sec_details {
    padding: 50px 0;
    background-color: #f4f9fc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content_details p {
    display: inline-block;
}

.content_details h5 {
    display: inline-block;
    padding-bottom: 30px;
}

.content_details select {
    width: 33%;
    padding: 9px 8px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.btn_same {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 9px 0;
    border-radius: 10px;
    font-weight: 600;
    width: 10%;
}

.btn_same:hover {
    background-color: #00af63;
    border-color: transparent;
    color: white;
}

/* Tafir */

#content_surah {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#sec_surah {
    background-color: #f4f9fc;
    text-align: center;
    padding: 50px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sec_surah h1 {
    text-align: center;
    font-size: 49px;
}

#content_surah input {
    width: 24rem;
    padding: 9px 8px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}


#surahs_here p {
    text-align: right;
    letter-spacing: 1px;
    white-space: break-spaces;
    line-height: 33px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}

#content_surah select {
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    width: 11rem;
    padding: 9px 8px;
}

audio#myaudios {
    width: 100%;
}

/* Translation */

.sec_translation {
    padding: 50px 0;
}

.content_translation select {
    width: 16rem;
    height: 37px;
    border-radius: 11px;
}

.content_translation button {
    padding: 5px 38px;
    border: 1px solid white;
    background-color: #00b571;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.content_translation button:hover {
    background-color: white;
    border: 1px solid #00b571;
    color: #00b571;
}

#translation_content {
    padding-top: 20px;
}

#translation_content img {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}